@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');

@import "~normalize.css/normalize.css";

body {
	font: 400 16px/1.188 'Roboto', sans-serif;
	color: #130D08;
}

a:focus,
input:focus,
select:focus,
button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

*, *::after, *::before {
	box-sizing: border-box;
}

/**
  * Buttons
  */
@import "modules/_buttons.css";


/**
 Icons
 */
@import "modules/_icons.css";

.Wrapper {
	width: 900px;
	margin: 25px auto;
}

.Timer__item {
	padding: 10px;
	transition: background-color .3s;

	& + & {
		margin-top: 25px;
	}

	&--overdue {
		background-color: rgba(236, 142, 139, .2);
	}
}

.Timer__footer {
	margin-top: 25px;
	padding: 0 10px 10px 10px;
}

.Timer__row {
	display: flex;
	align-items: center;

	& + & {
		margin-top: 10px;
	}
}

.Timer__counter {
	font-size: 48px;
	line-height: 1;
}

.Timer__controls {
	margin-left: 15px;
}

.Timer__name {
	max-width: 300px;
}

.Timer__value {
	color: #aaa;
}

.Timer__row--info .Timer__value {
	margin-left: 15px;
}

.Timer__row--info .Btn--edit,
.Timer__row--info .Btn--remove {
	padding: 0;
	margin-left: 15px;
}

.Timer__row--info .BtnAudio {
	margin-left: 15px;
}

.Timer__row--info .BtnAudio label {
	display: inline-block;
	max-width: 180px;
}

.Timer__empty {
	text-align: center;
	font-size: 21px;
}

.Timer__progress {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 3px;
	background-color: #ddd;
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,.15);

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
		background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
		z-index: 1;
		-webkit-background-size: 25px 25px;
		-moz-background-size: 25px 25px;
		background-size: 25px 25px;
		-webkit-animation: timerViewProgressMove 8s linear infinite;
		-moz-animation: timerViewProgressMove 8s linear infinite;
		-webkit-border-top-right-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		-moz-border-radius-topright: 8px;
		-moz-border-radius-bottomright: 8px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-bottomleft: 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		overflow: hidden;
	}
}

@keyframes timerViewProgressMove {
	0% {
		background-position: 100% 50%;
	}
	99.999% {
		background-position: 50% 0;
	}
	100% {
		background-position: 50% 0;
	}
}

.Timer__progress div {
	padding: 10px 0;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	line-height: 1;
	text-align: center;
	background-color: darkcyan;
	transition: width .3s;
	user-select: none;
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,.15);
}

.Timer__progress--alert div {
	background-color: #EE5757;
}

.Timer__progress--textHide div {
	color: rgba(0,0,0,0);
}


/**
 Modal
 */
.Modal {
	position: fixed;
	z-index: 1;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	transition: opacity .3s ease;

	&__wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	&__container {
		background-color: #fff;
		width: 500px;
		position: relative;
		margin: 0 auto;
		border-radius: 5px;
		box-shadow: 0 0 25px rgba(43, 31, 9, .23);
		overflow: hidden;
		transition: all .3s ease;
	}

	&__header {
		color: #130d07;
		font-weight: 700;
		font-size: 21px;
		line-height: 1;
		background-color: powderblue;
		padding: 10px 20px;
	}

	&__content {
		padding: 0 20px;
	}

	&__controls {
		padding: 15px 20px;
		background-color: aliceblue;

		.Btn + .Btn {
			margin-left: 10px;
		}
	}

	&__box {
		padding: 15px 0;

		& + & {
			border-top: 1px #e1e1e1 solid;
		}
	}

	&__close {
		position: absolute;
		right: 15px;
		top: 12px;
		font: 21px/1 "Arial", sans-serif;
		text-decoration: none;
		color: inherit;
		transition: all .3s;

		&:before {
			content: '\2716';
		}

		&:hover {
			opacity: .75;
			color: crimson;
		}
	}


	/* Animation */
	&-enter {
		opacity: 0;
	}

	&-leave-active {
		opacity: 0;
	}

	&-enter &__container,
	&-leave-active &__container {
		transform: scale(1.1);
	}
}


/**
 * AddTimer
 */
.AddTimer {
	display: inline-flex;

	&__label {
		display: block;
		margin-bottom: 5px;
		font-size: 13px;
		color: #6f6f6f;
	}

	&__col + &__col {
		margin-left: 30px;
	}

	&__input {
		padding: 5px 10px;
		font-size: 18px;
		border: 1px #6f6f6f solid;
		border-radius: 3px;

		&--time {
			width: 70px;
		}

		&--name {
			width: 200px;
			text-overflow: ellipsis;
		}
	}

	&__select {
		padding: 5px 10px;
		font-size: 18px;
		border-radius: 3px;
		border: 1px #6f6f6f solid;

		&  ~ .BtnAudio {
			margin-left: 10px;
		}
	}
}
